
<br><br>
<dropsearch width="1fr" margin="12px 12px 12px 0" [values]="values" keyvalue='id' keylabel='value'
  (event)="selectdrop = $event" [auto]="selectdrop" width="250px"></dropsearch>
<br><br>
<dropsearch width="1fr" margin="12px 12px 12px 0" [values]="values2" keyvalue='id' keylabel='value'
  (event)="selectdrop2 = $event" [auto]="selectdrop2" width="325px"></dropsearch>

<br><br>
<datepicker width="250px" (event)="getDate($event)" value="12/12/2020"></datepicker>
<br><br>
<br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br>
<router-outlet></router-outlet>